<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/header :: headerBlock"></div>


<body>

	<!-- Table with panel -->
	<div class="card card-cascade narrower">

	<div th:replace="fragments/header :: navBar"></div>

		<!--/Card image-->

		<div class="px-4">

			<div class="table-wrapper col-sm-12 col-md-8">
				<h4>Cadastrar Raça</h4>
				
				<form action="/inserirRaca" method="post" th:object="${raca}">
					<input type="text" class="form-control"
						th:field="*{nome}" placeholder="nome">
					
					
					</select> 
					<div th:if="${mensagem != null}" th:text="${mensagem}" class="alert-success"></div>
					<div th:if="${#fields.hasErrors('*')}">
						<ul>
							<li th:each="erro : ${#fields.errors('*')}" th:text="${erro}"
								class="alert-danger"></li>
						</ul>
					</div>
					
					<button type="submit" class="btn btn-secondary">Salvar</button>

				</form>
				</div>
				
				<div>

				<table class="table">
					<!--Table head-->
					<thead>
						<tr>
							<th class="th-lg">codigo</th>
							<th class="th-lg">Nome</th>
							<th class="th-lg">+++</th>
						</tr>
					</thead>
					<!--Table head-->

					<!--Table body-->
					<tbody>
						<tr th:each="raca : ${racas}">
							<td th:text="${raca.codigo}"></td>
							<td th:text="${raca.nome}"></td>
							<td><a th:href="@{/formFunc/editar/{codigo}(codigo=${raca.codigo})}">Editar</a> 
							<a th:href="@{/formFunc/excluirFuncionario/{codigo}(codigo=${raca.codigo})}">Excluir</a>
							</td>
						</tr>

					</tbody>
					<!--Table body-->
				</table>
				<!--Table-->
				</div>



</body>
</html>