<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="httP://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Simpaticão</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

<title>Simpaticao</title>

</head>
<body>

<div class="section_footer" th:fragment="rodape">
    	<div class="container">
    		<div class="mail_section">
    			<ul>
    				<li class="footer-logo"><img src=""></li>
    				<li class="footer-logo"><img src="images/map-icon.png"><span class="map_text">Goiânia- Bela Vista - Goiânia</span></li>
    				<li class="footer-logo"><img src="images/call-icon.png"><span class="map_text">(+81) 9876543210</span></li>
    				<li class="footer-logo"><img src="images/email-icon.png"><span class="map_text">simpaticao@gmail.com</span></li>
    			</ul>
    	    </div> 
    	    <div class="footer_section_2">
		        <div class="row">
    		        <div class="col-sm-6 col-md-6 col-lg-3">
    		        	<h2 class="shop_text">Sobre a Simpaticao</h2>
    		        	<p class="dummy_text">Empresa destinada a ajudar mascotes desabrigados </p>
    		        </div>
    		        <div class="col-sm-6 col-md-6 col-lg-3">
    		        	<h2 class="shop_text">Useful Links</h2>
    		        	<div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Link 1</span></div>
    				    <div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Link 2 </span></div>
    				    <div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Link 3</span></div>
    				    <div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Link 4</span></div>
    				    <div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Link 5</span></div>
    		        </div>
    		        <div class="col-sm-6 col-md-6 col-lg-3">
    				    <h2 class="shop_text">Overview</h2>
    				    <div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Parceiros</span></div>
    				    <div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Veja</span></div>
    				    <div class="image-icon"><img src="images/bulit-icon.png"><span class="pet_text">Listas de Adoções</span></div>    				
    		        </div>
    			<div class="col-sm-6 col-md-6 col-lg-3">
    				<h2 class="adderess_text">Instagram</h2>
    				<div class="footer-img">
    					<div class="row">
    						<div class="col-sm-6">
    							<div class="footer-img"><img src="images/footer-img1.png" style="width: 100%;"></div>
    							<div class="footer-img"><img src="images/footer-img2.png" style="width: 100%;"></div>
    						</div>
    						<div class="col-sm-6">
    							<div class="footer-img"><img src="images/footer-img3.png" style="width: 100%;"></div>
    							<div class="footer-img"><img src="images/footer-img4.png" style="width: 100%;"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			</div>
    	        </div>
    	        <div class="social-icon">
	        	    <div class="row">
	        		    <div class="col-sm-12">
	        			    <div class="icons">
	        				    <ul>
	        					    <li><a href="#"><img src="images/fb-icon.png"></a></li>
	        					    <li><a href="#"><img src="images/twitter-icon.png"></a></li>
	        					    <li><a href="#"><img src="images/google-icon.png"></a></li>
	        					    <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
	        				    </ul>
	        			    </div>
	        		    </div>
	        	    </div>
	            </div>
	            <div class="copyright">2022 All Rights Reserved.
	        </div>
    	</div>
    </div>


</body>
</html>